// Styles for Video Player

.video-player {
  @include full-width-container__inner;
  position: relative;
  padding: $size-m 0;

  &__video {
    position: relative;
    display: block;
    max-width: 100%;
    margin: auto;
    @include at-short {
      @include from-extra-large  {
      width: 75%;
      }
    }

    &__inner {
      @include proportions--landscape;
      display: block;
      height: 0;
    }
  }

  &__card {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;

    &-inner {
      position: absolute;
      padding: $size-l;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0,.75);
      text-align: center;
      @include flex-vertical-center;
    }
  }
  

  &__order {

    &-message {
      @include header--beta;
      @include upcase;
      margin-bottom: $size-l;
      @include until-medium {
        display: none;
      }
    }
  }

  &__next {
    position: absolute;
    bottom: $size-s;
    right: $size-xl;
    text-align: right;
    @include until-medium {
      display: none;
    }
    
    &-thumb {
      width: 240px;
      height: 120px;
      margin-bottom: $size-s;
      background-repeat: no-repeat;
      background-size: contain;
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(flex-end);
      @include at-medium {
        width: 200px;
        height: 100px;
      }
    }

    &-title {
      @include header--zeta;
      @include upcase;
      @include display(inline-flex);
      @include align-items(center);
      @include linear-gradient(transparent, $colors-pure-black 100%, $fallback: transparent);
      padding-bottom: $size-s;
      text-align: left;
      
      &:before {
       @include icon('play', 'medium');
       margin: 0 $size-s;
       content: '';
       padding: 12px;
      }
    }

    &-stop {
      visibility: hidden;
      @include header--zeta;
      @include upcase;
      color: $colors-text-dark;
      text-align: right;
      cursor: pointer;
      @include until-medium {
        display: none;
      }
    }
  }

  &__countdown-widget .countdown-widget {
    &__title,
    &__time {
      display: inline-block;
      @include header--epsilon;
      @include upcase;
    }
    &__time-units {
      text-align: left;
      margin-left: $size-xs;
      margin-right: 0;
    }
    &__time-unit {
      display: none;
    }
  }

  &__button {
    &--resume,
    &--replay {
      @include header--epsilon;
      @include upcase;
      position: absolute;
      bottom: $size-l + $size-s;
      left: $size-l + $size-s;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // prevents blue highlight on touch for Chrome on Android
      @include prefixer(user-select, none, webkit moz ms o);
      @include until-medium {
        position: initial;
      }
    }

    &--resume:before {
      @include icon('play', 'medium');
      position: relative;
      top: $size-xs;
      margin-right: $size-s;
      content: '';
    }

    &--replay:before {
      @include icon('replay', 'medium');
      position: relative;
      top: $size-xs;
      margin-right: $size-s;
      content: '';
    }
  }

  &__order-button {
    max-width: 240px;
    margin: 0 auto;

    &--desktop {
      display: none;
      @include from-medium {
        display: inline-block;
      }
    }

    &--mobile {
      display: inline-block;
      margin-bottom: $size-l;
      @include from-medium {
        display: none
      }
    }
  }
}

#video-player .vjs-big-play-button {
  width: $size-xl * 3;
  height: $size-xl * 3;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: $size-xxl * 2;
  -moz-border-radius: $size-xxl * 2;
  border-radius: $size-xxl * 2; 
  
  &:before {
    width: $size-m * 2;
    height: $size-xl;
    margin: $size-xl;
    font-size: $size-xl;
    line-height: $size-xl;
  }
}

 #video-player .vjs-play-progress,
 #video-player .vjs-volume-level {
  background-image: none;
  background-color: $colors-red;
}

.vjs-control {
  width: 50px !important /* override brightcove css */
}