.site-header a {
  display: block;
  padding: $medium $medium $medium ($size-xl + $size-s);
}
  
.theme--dark {
  .site-header a {
    color:$colors-site-light-grey;
    background-color: $colors-site-dark-blue-grey-accent;
    
    &:hover,
    &:focus {
      background-color: $colors-pure-black;
    }
  }
}


.site-header.site-header--pre-release a {
  background-color: purple;
  color: $colors-pure-white 
}