.section-header {
  @include header--beta;
  @include upcase;
  position: relative;
  display: block;
  padding-bottom: $size-s;
	color: $colors-text-dark;
  
  @include from-large {
    margin-bottom: $size-m;
  }

  &--white {
    color: $colors-pure-white;
  }
}
  
.section-header--more {
  margin-bottom: 0;
  color: $colors-pure-white;
}  

.section-header--more:after {
	@include icon('next','small');
  display: inline-block !important; // this is fighting the clearfix on inner-container
	margin-left: $size-xs;
  vertical-align: 3px;
	content: "";

  @include from-medium {
		vertical-align: $size-xs;
  }
}

.section-header--cta{
  position: absolute;
  @include icon('next', 'medium');
  height: 20px;
  width: 20px;
  margin-left: $size-s;
  top: 2px;
  @include until-large {
    top: 0;
    height: 13px;
    width: 13px;
    margin-left: 5px;
    top: 3px;
  }
}

.section-header--border {
  margin-bottom: $size-m;
  padding-bottom: $size-s;
  color: $colors-pure-white;
  
  @include from-large {
    margin-bottom: $size-l;
    padding-bottom: $size-m; 
  }

  @include from-extra-large {
    margin-bottom: $size-l + $size-xs;
  }
  
  &:after { 
    // border on element was conflicting with full-width-container__inner border padding
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
  	border-bottom: 1px solid $colors-red;
  }
}