.fight-card {
    @include body-text;
	width: 274px;
	color: $colors-pure-white;
	background-color: $colors-dark-grey;
	overflow: hidden;

	@include from-medium {
		width: 530px;
	}

	&__header {
		position: relative;
		text-align: center;
		overflow: hidden;
		background-color: $colors-bg-light;

		.fight-card__fighter-left {
			padding: $size-s 0 $size-s $size-s;
		}

		.fight-card__vs-circle {
			position: absolute;
			left: 50%;
			width: 34px;
			height: 34px;
			margin-left: -17px;
			margin-top: $size-m * 2;
			background: url('#{$icon-base-path}/vs-circle.svg');
			background-repeat: no-repeat;
			display: none;

			@include from-medium {
				display: block;
			}
		}

		.fight-card__fighter-right {
			padding: $size-s $size-s $size-s 0;
		}

		.fight-card__fighter-photo {
			width: $size-xxl - $size-s;
			height: $size-xxl - $size-s;
		}

		.fight-card__row {
			@include upcase;
			float: left;
			width: 100%;
			color: $colors-mid-grey;
			border: none;

			@include from-medium {
				display: none;
			}
		}
	}

	&__fighter-first-name, &__fighter-last-name, &__fighter-record {
	    @include upcase;
		color: $colors-pure-white;
	}

	&__fighter-record {
	    color: $colors-mid-grey;
	}

	&__fighter-result {
		@include upcase;
		display: none;
		color: $colors-mid-grey;
	}

	&__fighter-left {
		float: left;
		width: 100%;
		text-align: left;
		border-bottom: 1px dotted $colors-mid-grey;

		@include from-medium {
			width: 50%;
			border-bottom: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.fight-card__fighter-photo {
			float: left;
			margin-right: $size-s;
		}

		.fight-card__fighter-name-record {
			float: left;
			padding-top: $size-xs;
		}
	}

	&__fighter-center {
	    @include header--zeta;
	    @include upcase;
		position: absolute;
		left: 50%;
		margin-left: -10%;
		width: 20%;
		text-align: center;
		color: $colors-mid-grey;
		display: none;

		@include from-medium {
			display: block;
		}
	}

	&__fighter-right {
		float: left;
		width: 100%;
		text-align: left;
		border-top: 1px dotted $colors-mid-grey;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include from-medium {
			float: right;
			width: 50%;
			text-align: right;
			border-top: none;
		}

		.fight-card__fighter-photo {
			float: left;
			margin-left: $size-s;
			margin-right: $size-s;

			@include from-medium {
				float: right;
				margin-right: 0;
			}
		}

		.fight-card__fighter-name-record {
			float: left;
			padding-top: $size-xs;

			@include from-medium {
				float: right;
			}
		}
	}

	&__body {
		position: relative;
		padding: $size-s $size-s 0;
		text-align: center;
		overflow: hidden;
		display: none;

		@include from-medium {
			display: block;

			.fight-card__fighter-left,
			.fight-card__fighter-right {
				max-width: 225px;
			}
		}

		.fight-card__fighter-center {
			line-height: $size-m * 2;
		}
	}

  &__footer {
    padding-top: $size-m * 2;
  }

	&__row {
		border-bottom: 1px dotted $colors-mid-grey;
		overflow: hidden;
		line-height: $size-m * 2;
	}

	&__shostreak {
		text-align: left;
		padding: $size-m $size-s;

		.fight-card__shostreak-link {
			display: block;
		}

		.fight-card__shostreak-logo {
			display: block;
			width: 13px;
			height: 17px;
			float: left;
			margin-right: $size-s;
			background: url('#{$icon-base-path}/shostreak-logo.svg');
			background-repeat: no-repeat;
		}
	}
 
	&__tune-in {
	    @include header--zeta;
	    @include upcase;
		padding: $size-s;
		background-color: $colors-mid-dark-grey;
	}

	&--main-card {
		.fight-card__tune-in {
			background-color: $colors-dark-red;
		}
	}

	&--post {
		.fight-card__fighter-photo {
			opacity: .8;
		}

		.fight-card__fighter-record {
			display: none;
		}

		.fight-card__fighter-result {
			display: block;
		}

		.fight-card--winner {
			background: $colors-dark-teal;

			.fight-card__fighter-photo {
				opacity: 1;
			}

			.fight-card__fighter-result {
				color: $colors-teal;
			}
		}
	}
}
