.secondary-nav--datepicker {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 40;
}

.date-picker {
	@include body-text;
	@include upcase;
	z-index: 50;

	@media (max-width: 743px) {
		width: 325px;
	}

	&__toggle {
		cursor: pointer;
		padding: $size-s;
		height: $size-xl;
		color: $colors-pure-white;
		float: left;

		@include from-medium {
			padding: $size-l;
			height: 60px;
			width: auto;
		}

		&:after {
			@include icon('down-arrow-white','small');
			margin-left: $size-s;
			content: '';
		}

		&:focus {
			outline: none;
		}
	}

	.date-picker__toggle.date-picker__toggle--active {
		background: $colors-pure-white;
		color: $colors-dark-grey;

		&:after {
			@include icon('down-arrow-black','small');
			margin-left: $size-s;
			content: '';
		}
	}

	&__input {
    float: left;
		width: 120px;
		height: $size-xl;
		border: none;
		color: $colors-pure-white;
		background: none;
		background-repeat: no-repeat;
		background-position: 95% 13px;
		@include icon;
		@include icon-image('down-arrow-white');
		@include display('flex');
    background-size: inherit;
		@include from-medium {
			height: 60px;
			background-position: 95% $size-l;
		}

		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			display: none;
		}

		&::-webkit-calendar-picker-indicator {
			-webkit-appearance: none;
			display: none;
		}

		.android & {
			background-image: none;
		}
	}

	&__calendar {
		display: inline-block;
		margin: 0 $size-xl $size-xl 0;
		background: $colors-pure-white;
		
		&-container {
			display: none;
			position: absolute;
			top: $size-xl;
			padding: $size-xl 0 0 $size-xl;
			background: $colors-pure-white;
			z-index: 40;
			@include from-medium {
				top: 60px;
			}

			&--active {
				display: block;
			}
		}

		table {
			border: $size-xxs solid $colors-light-grey;
		}

		td {
			height: $size-xl;
			width: $size-xl;
		}
	}

	.calendar {

		&__month {
			padding: $size-s;
			text-align: center;
			color: $colors-pure-white;
			background: $colors-dark-grey;
		}

		&__days {
			margin: $size-xs;
			border-bottom: $size-xxs solid $colors-light-grey;
		}

		&__day {
			text-align: center;
			color: $colors-mid-grey;
		}

		&__date {
			text-align: center;
			color: $colors-dark-grey;
			// cursor: pointer;
			
			&:hover {
				background: $colors-light-grey;
			}

			&--selected {
				background: $colors-light-grey;
			}

			&--past {
				color: $colors-light-grey;
				cursor: auto;

				&:hover {
					background: $colors-pure-white;
				}
			}

			&--selected {
				color: $colors-pure-white;
				background: $colors-red;

				&:hover {
					background: $colors-red;
				}
			}
		}
		
		&__date-link {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
		}
	}
}
