.email-signup {
  @include full-width-container__inner;
  position: relative;

  .email-signup__inner {
    @include from-medium {
      display:table;
      padding: $size-xl;
    }
    width: 100%;
    padding: $size-l;
    background-color: $colors-bg-light;

    .email-signup__headline {
      @include header--beta;
      @include upcase;
      padding-bottom: $size-m;
      @include display(flex);
      @include align-items(center);

      &--text {
        overflow: hidden;
        display: block;
        @include until-medium {
          margin-top: $size-xs;
        }
      }

      @include from-medium {
        &--text {
          position:relative;
          top:3px;
          overflow: hidden;
          display: block;
        }
      }

      i {
        float: left;
        margin: 0 $size-m 0 0;
        min-width: 32px;
      }
    }

    .email-signup__label {
      @include body-text;
      @include upcase;
      color: $colors-text-dark;
    }

    .email-signup__form-fields {

      @include from-medium {
        @include span-columns(9);
      }

    }

    .email-signup__email-input {

      @include from-medium {
        @include span-columns(5 of 9);
      }

      @include placeholder {
        color: #7D7D7D;
      }

    }

    input .input-box-email::-webkit-input-placeholder {
			color: #7D7D7D;
			text-align: left;
		}

    input::-webkit-input-placeholder	{color: #7D7D7D}
		input .input-box-email::-moz-placeholder  {color:#7D7D7D}
		input .input-box-email:-ms-input-placeholder {color:#7D7D7D}

		//had to use this height because border of 1px all around adds extra height
		// also this the input is being used in the network feed form
		.input-box-email, .input-box-contact, .input-box-affiliation {
		  height: 33px !important;
		  padding: 0px 0px 0px 10px !important;
		}

    .input-box {
      height: 25px;
      width: 100%;
      margin: $size-xs $size-l $size-m 0;
      background-color: $colors-pure-white;
      border: solid 1px $colors-light-grey;
      color: $colors-dark-grey;
      padding: $size-m $size-m $size-m $size-s;
    }

    .email-signup__dob-select {
      @include from-medium {
        @include span-columns(4 of 9);
        @include omega();
      }

    }

    .dob-select {
      padding: $size-xs;
    }

    select {
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      height: 33px;
      margin-top: $size-xs;
      margin-bottom: $size-m;
      border: solid 1px $colors-light-grey;
      text-overflow: '';
      text-indent: 0.01px;
      background-image: url(http://www.sho.com/assets/images/accounts/mobile/select_arrow.png);
      background-color: $colors-pure-white;
      background-repeat: no-repeat;
      background-position: 90% 50%;
      font-size: 16px;
      color: $colors-text-dark;

      @include from-medium {
        margin-right: 3%;
        font-size: 12px;
      }
    }

    .select-month,
    .select-day {
      width:26%;
      margin-right:2.7%;

      @include from-medium {
        width:22%;
      }

    }

    .select-year {
      width:39%;

      @include from-medium {
        width:40%;
      }
    }

    .email-signup__tos-input {

      @include from-medium {
        @include span-columns(9 of 9);
      }

      @include header--zeta;
      color: $colors-text-dark;

      .check-box {

        @include from-medium {
          margin: $size-xxs $size-s $size-xs 0;
        }

        margin: $size-xxs $size-s $size-xl 0;
        box-sizing: border-box;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        float: left;
      }

      span {
        overflow: hidden;
        display: block;
      }

    }

    a {
      text-decoration: underline;
    }

    .email-signup__submit-btn {
      @include button--outline-white;
      @include span-columns(12);
      float:none;
      text-align: center;
      margin: $size-l 0 $size-m 0;

      @include from-medium {
        @include span-columns(3);
        @include omega();
        margin-top:$size-m;
      }

    }

    .email-signup__validation {
      background: $colors-light-red;
      padding: $size-s;
      margin: $size-s 0 $size-l 0;

      .email-signup__validation--error {
        @include header--zeta;
        font-weight: 200;
        display: block;
      }
    }

    .email-signup__error--label {
      color: $colors-light-red;

    }

    .email-signup__error--form {
      outline: 2px solid $colors-light-red;
    }

  }

  .email-signup__headline--success,
  .email-signup__headline--lockout,
  .email-signup__headline--error {
    display:none;
    width: 100%;
    padding: $size-l $size-l $size-l $size-l;
    margin-bottom: $size-xl;
    background-color: $colors-slate-grey;
    @include header--delta;
    span {
      overflow: hidden;
      display: block;
    }

    i {
      float:left;
      margin: 0 $size-m $size-m 0;
    }

    @include from-medium {
      padding: $size-l $size-l $size-xl $size-l;
      span {
        position:relative;
        top:11px;

      }

      i {
        margin: 0 $size-m 0 0;
      }

    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
  }

  .loading-animation {
    top: 50%;
  }
}

/* Alt Test */

.email-signup--alt {
  .email-signup__inner {
    position: relative;
    background-color: transparent;
    background-position: 100% 0;
    @include until-medium {
      background-size: contain;
    }
    @include until-large {
      padding-top: $size-xxl;
    }
    
    &:before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      @include linear-gradient(to bottom, transparent, $colors-bg-med 50%, $fallback: transparent);
      @include from-medium {
        @include linear-gradient(to left, transparent, $colors-bg-med 50%, $fallback: transparent);
      }
    }

    & > * {
      position: relative;
    }

    .email-signup__submit-btn {
      background-color: $colors-pure-white;
      color: $colors-pure-black;
    }
  }
}

/* Roadies Test */

.email-signup--roadies {
  .email-signup__inner {
    background-image: url('#{$assets-image-base}/email/roadies-email-signup-module-767x400.jpg');
  }
}

/* Ray Donovan Test */

.email-signup--ray-donovan {
  .email-signup__inner {
    background-image: url('#{$assets-image-base}/email/ray-email-signup-module-767x400.jpg');
  }
}

/* Marketing Feed */

.email-signup--marketing-feed {
  border: none; 
  .email-signup__inner {
    background-color: transparent;
    padding: 0;

    .email-signup__form-fields,
    .email-signup__contact-input,
    .email-signup__affiliation-input,
    .email-signup__email-input,
    .email-signup__tos-input {
      @include span-columns(12);
    }

    .email-signup__tos-input {
      @include from-medium {
        margin: $size-m 0 $size-s 0; 
      }
    }

    .email-signup__label {
      @include until-small {
        margin: 0;     
      }
    }

    .email-signup__submit-btn {
      width: 100%;
      @include button--solid-red;
      @include until-medium {
        margin-top: 0;     
      }
      &:hover {
        color: $colors-pure-white !important;
        background-color: $colors-red !important;
      }
    }
  }

  .email-signup__headline--success,
  .email-signup__headline--error,
  .email-signup__headline--lockout {
    background-color: transparent;
  }

  .email-signup__headline--success {
    h1 {
      @include header--alpha;
      @include upcase;
    }
  }
}
