
// Title Meta Data

.metaname-example {
	background-color: $colors-pure-black;
	@include span-columns(12);
}

.metadata {
	margin-top: 0;
	margin-bottom: $size-m;
	border-top: 1px solid $colors-dark-red;
	padding: 0 $size-l;
  @include from-medium {
		margin-bottom: $size-xl;
		padding: 0 30px;
    border-left: 1px solid $colors-dark-red;
    border-top:none;
		@include span-columns(6);
  }
}

.metadata__key {
  @include header--epsilon;
	margin: $size-m 0 ($size-xxs * 2) 0;
	color: $colors-text-dark;
	text-transform: uppercase;
	font-size: 14px;
	@include from-medium {
  	&:first-child {
  	 margin-top: 0px;
  	}
  }
}

.metadata__value {
	@include header--epsilon;
	display: block;
	margin-left: 0px;
	color: $colors-pure-white;

	@include from-medium {
		margin-bottom: $size-m * 2;
		height: $size-l;
	}

	&:last-child {
		margin-bottom: 0;
		@include until-medium {
			margin-bottom: $size-m * 2;
		}
	}

	&--multi {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: $size-s;
		border-bottom: 1px dotted $colors-bg-light;
    @include until-medium {
    	margin: 0 0 $size-s 0;
    }

		&-key, &-value {
			@include from-medium {
				display: inline-block;
			}
		}

		&-key {
			color: $colors-text-med;
			 @include from-medium {
				@include span-columns(6)
			}
		}

		&-value {
			margin-bottom: $size-xs;
			margin-left: 0;
			@include from-medium {
				@include span-columns(6)
				text-align:right; 
			}
		}
		
		&:last-child {
			margin-bottom: $size-m;
			@include from-medium {
				margin-bottom: $size-m * 2;
			}
		}
	}
}

.metadata__link {
	text-transform: capitalize;
	border-bottom: $size-xxs solid $colors-pure-white;

	&:not(:last-child):after {
		content: ",";
	}
}