.promo-group-header {
  margin-bottom: $size-s;

  @include from-large {
    margin-bottom: $size-l;
  }
}

.promo-group-header__title:before {
  display: block;
  margin-bottom: $size-s;
  height: $size-xs;
  width: $size-xl;
  background: $colors-red;
  content: "";

  @include from-large {
    width: ($size-xl + $size-l);
    height: ($size-xs + $size-xxs)
  }
}

.promo-group-header__title {
  @include header--beta;
  @include upcase;
  padding: 0 $size-s 0 0;
  color: $colors-pure-white;
}

.promo-group-header__title--large {
    @include header--alpha;
}

.promo-group-header__sub-title {
  @include body-text;
	margin: 0;
	//color: $colors-mid-grey;  this needs new grays added first
}

.promo-group-header--large .promo-group-header__title {
  @include header--alpha;
  
  &:before {
    margin-bottom: $size-s;
    
    @include from-medium {
      margin-bottom: $size-m;
    }
  }
}
