$xsmall: .25em;
$small: .5em;
$medium: 1em;
$large: 2em;
$xlarge: 4em;

$site-sidebar-width: 200px;
$site-content-max-width: 1440px;
$site-container-max-width: 100%;

$colors-site-dark-blue: #21252b;
$colors-site-dark-blue-grey: #282c34;
$colors-site-dark-blue-grey-accent: #181a1f;
$colors-site-light-grey: #abb2bf;
$colors-site-muted-blue-grey: #474f60;
$colors-site-teal: #54b6c2;
$colors-site-orange: #d19a66;
$colors-site-pink: #e06c75;
$colors-site-mid-grey: #9da5b4;
