// this is where sections styles might live

.section-header--dropdown {
  @include header--delta;
  position:relative; 
  padding-top: $size-xs;
  padding-bottom: $size-xs;
  background-color: $colors-pure-black; 
  border-bottom: $size-xxs solid $colors-dark-red; 
}

.section-header--dropdown select {  
  @include upcase;
  position: relative;
  height: $size-xl; 
  padding: $size-s $size-xl $size-s $size-s;
  color: #fff;
  border: none;
  outline:1px solid $colors-pure-black; 
  background-color: $colors-pure-black;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;   
}

.section-header--dropdown:after {  
  @include cta;
  @include icon('down-arrow'); 
  position: relative;
  left: -$size-xl;
  z-index: 1;  
}

select.secondary-nav__dropdown {
  font-size: 16px; 
}