
// Video Meta Data

.video-metadata {
  position:relative;
  background-color: $colors-dark-grey;
  margin-bottom: $size-m;

  @include from-large {
    margin-bottom: 0;
  }

  &__inner {
    @include block-container;
  }
}

.video-metadata__full-episode-hdr {
  @include upcase;
  position: relative;
  padding: $size-l;
  width:100%;
  background-color: $colors-dark-teal;
  color: $colors-pure-white;
  @include from-small {
    padding: $size-m $size-l + $size-s;
  }
}

.video-metadata__details {

  &__title {
    @include block-container__headline;
  }

  &__link {
    @include header-regular-weight;
    @include underline;
  }

  &__desc {
    margin-top: $size-s;
    line-height: $size-l;
  }
}
