  // see order-tray-container.scss
$order-tray-top-offset:     80px;
$order-tray-top-offset--medium-tall:     100px;

.order-tray-active .order-masthead__sho-link {
  display: none;
}

.order-masthead {
  position: absolute;
  height: $size-xl;
  top: 0;  
  right:0; 
  left:0;
  z-index: 100;
  @include background(
    linear-gradient(
      rgba(0,0,0,0.7) 0%,
      rgba(0,0,0,0.5) 35%,
      rgba(0,0,0,0)   100%
    )
  );
  
  @include at-small {
    height: $order-tray-top-offset;
  }
  @include from-medium-tall {
    height: $order-tray-top-offset--medium-tall; 
  }

  &__logo,
  &__sho-link,
  &__section {
    position: absolute;
    top: $size-l + ($size-xxs * 2);
    
    @include from-medium-tall {
      top:$size-l + $size-s;
    }
  }
  
  &__logo {
    display: block;
    position: absolute;
    left: $size-m;
    margin: 0;
    @include hide-text;
		background:transparent no-repeat url('#{$icon-base-path}/showtime-logo.svg') 0 0;
    background-size: contain;
    width: $logo-width;
    height: $logo-height;
    
    @include from-small {
      left:$size-xl;
      width: $logo-width-small;
      height: $logo-height-small;
    }

    @include from-large {
      position: fixed;
      display: none;
      
      &--visible {
        position: relative;
        left: 100px;
        display:block;
      }
    }
  }
  
  &__section {
    @include header('delta');
    @include upcase;
    position: absolute;
    top: 26px;
    left : 110px;
    
    @include mq($from:375px, $until:'small'){
      top:33px
    }
    
    @include from-small {
      top:35px;
      left : 155px;
    }      
    
    @include from-large {
      left: 215px;
    }
    
    &:before {
      @include shim('', rgba(255,255,255,0.5));
      top    : -8px;
      left   : -11px;
      width  : 1px;
      height : 36px;
    }
  }

  
  &__sho-link {
    display: inline-block;
    position: absolute;
    right:$size-m;
    width: auto;
    height: $logo-height;
    @include header--epsilon;
    line-height: $logo-height;
		color: $colors-light-grey;
    
    @include from-small {
      right:$size-xl;
      line-height: $logo-height-small;
      height: $logo-height-small;
    }
  }
}