@import './default-skin/default-skin.scss';

.pswp__bg {
	opacity: 0.88 !important;
}

.pswp__button--close {
	@include at-extra-extra-large {
		position: absolute;
		right: $size-xxl * 4;
	}
}

.pswp__counter {
	@include at-extra-extra-large {
		left: $size-xxl * 4;
	}
}

.pswp__button--arrow--left{
  @include at-extra-extra-large {
		left: $size-xxl * 4;
	}

	&:before {
		// our icon mixins don't work with photoswipe
	  background: url("#{$icon-base-path}/prev.svg") no-repeat !important;
	  background-size: cover !important;
	}
} 

.pswp__button--arrow--right {
  @include at-extra-extra-large {
		right: $size-xxl * 4;
	}

	&:before {
		// our icon mixins don't work with photoswipe
		background: url("#{$icon-base-path}/next.svg") no-repeat !important;
	  background-size: cover !important;		
	}
}

.pswp__caption__center {
	font-size: 14px;
	color: $colors-light-grey;
	text-align: center;
	max-width: 600px;
	
	span {
		font-size: 12px;
	}
}

.loading-animation {
	z-index: 99999;
}