$block-list-icon-size : 30px;
$block-list-icon-size-large : 40px;

.block-list {
  @include unstyled-list;
  padding: $size-s;

  
  &__item {
    position: relative;
    padding-left: ($block-list-icon-size  * 2);
    margin-bottom: $size-m; 
    
    p {
      @include header('epsilon');
      position: relative;
      color: $colors-pure-black !important;
    }
    
    p:last-child {
      margin-bottom: 0
    }
  }
  
  &__icon {
    @include size ($block-list-icon-size);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
    
  @include from-medium {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
      padding: $size-m;
      max-width: 50%; // IE11
      flex-basis: 50%;
      text-align: center;
    }
    
    &__icon {
      position: static;
      margin-bottom: $size-m
    }
  }
  
  @include from-large {
    flex-wrap: nowrap;
  
    &__item {
      flex-basis: 25%;
    }
  
    &__icon {
      @include size($block-list-icon-size-large);
      transform: none;
    }
  }
  
  // fix for [LIVE] appearing too small when sized same as other icons:
  // apply a --wide modifier for extra width 
  .block-list__item--wide .block-list__icon {
    width: $block-list-icon-size * 1.5;
    @include from-large {
      width: $block-list-icon-size-large * 1.5;
    }   
  }
}