// promo group

.promo-group {
  // this margin accounts for the already implemented margins
  // at the bottom of the individual promos
  margin-bottom: $size-xl + $size-s;
  @include from-medium {
    margin-bottom: 65px;
  }
}

// three columns
.promo-group--three-up {
  .promo {
    @include span-columns(4);
    @include omega(3n);
  }
}

// three columns from medium
.promo-group--to-three-up {
  @include from-medium {
    @include display(flex);
    @include flex-wrap(wrap);

    .promo, .order-promo {
      @include span-columns(4);
      @include omega(3n);
    }

    .order-promo {
      @include from-small {
        // needs to grow, pin button to bottom
        @include display(flex);
      }
    }
  }
}

// three columns from large, two for medium
// warning: strong assumption of order promo as third list item
.promo-group--one-two-three {
  @include at-medium {
    @include display(flex);
    @include flex-wrap(wrap);

    .promo {
      @include span-columns(6);
      @include omega(2);
      &:nth-child(n+2):nth-child(odd) {
        margin-right: 0;
      }
    }

    .order-promo {
      // need to override span-columns display:block above
      @include display(flex);
      width: 100%;
      text-align: center;
      padding: 30px;

      .order-promo__button {
        width: 250px;
      }
    }
  }

  @include from-large {
    @include display(flex);
    @include flex-wrap(wrap);

    .promo, .order-promo {
      @include span-columns(4);
      @include omega(3n+3);
      &:nth-child(n+2):nth-child(3n) {
        margin-right: 0;
      }
    }

    .order-promo {
      // need to override span-columns display:block above
      @include display(flex);
      margin-right: 0;
      text-align: left;

      .order-promo__button {
        width: 100%;
      }
    }
  }
}

// one over two until medium
.promo-group--from-one-over-two {
  @include until-medium {
    .promo {
      @include span-columns(12);
    }

    .promo:nth-child(2),
    .promo:nth-child(3) {
      @include span-columns(6);
    }
  }
}

// four columns from medium
.promo-group--four-up {
  @include from-medium {
    .promo {
      @include span-columns(3);
      @include omega(4);
    }
  }
}

// one large promo beside two stacked promos
.promo-group--one-beside-two {
  .promo {
    margin-bottom: 2%;

  	@include until-medium {
  		float: none !important;
  	}

  	@include from-medium {
      @include span-columns(4);
	    float: left;
      @include omega(3n);
    }
  }

  .promo:first-child {
    @include until-medium {
		float: none !important;
      @include span-columns(12);
    }

    @include from-medium {
      @include span-columns(8);
	    float: left;

      .promo__image {
        // make up difference for two promos stacked beside it
        padding-top: 58%;
      }
    }
  }

  .order-promo {
    @include until-medium {
  		margin-bottom: 2%;
  	}
  }

  .promo:nth-child(2),
  .promo:nth-child(3),
  .promo:nth-child(6) {
    @include omega();
  }

  .promo:nth-child(4) {
    // super weird hack for when there are only 4 promos in the promo group large partial
    // last-child margin was being removed, as expected, but this caused promo to align right
    // for reasons that may need to be further investigated
    margin-right: 2%;
  }

  .promo:nth-child(n+4) {
    // hide all beyond first three until medium
    @include until-medium {
      display: none;
    }
  }
}

// converts to list (no images) below medium
.promo-group--from-list {
  @include until-medium {
    .promo {
      margin: 0;
      padding: $size-l + $size-s 0;
      border-top: 1px solid $colors-bg-light;
    }
     // this class is a slight variant from the above. Used in the all fights page
    .promo.promo--list-view {
      padding: 0px;
      border: none;
    }

    .promo__body, .promo__image {
      display: none;
    }

    .promo__link {
      position: relative;
      opacity: 1;
      text-indent: 0;
      line-height: 24px;
    }

    .order-promo {
      // order promo needs to expand to edge at smaller breakpoints
      // tried shorthand property but...
      margin-left: -($size-m);
      margin-right: -($size-m);
      margin-bottom: 0;
    }
  }
}
