.notification {
  padding: $size-l 0;
  background-color: $colors-bg-med;
  border-bottom: $colors-pure-black solid 1px;
  
  &__message {
    @include full-width-container__inner;
    @include header('epsilon');
    position: relative;
    padding-right: $size-xl + $size-l;
    color: $colors-pure-white;
    
    a { 
      @include underline;
    }
  }
  &__closer {
    position: absolute;
    @include icon('close','medium');
    top:0; 
    right: 0;
    cursor: pointer;
  }
}