$radio-size-short: 24px;
$radio-margin-right-short: $size-s - ($size-xxs * 2);

// added these rules for squeezing additional providers into the order tray before going to two-col layout
$radio-size-medium-tall: ($radio-size-short * 1.125);
$radio-margin-right-medium-tall: $size-s;

$radio-size-tall: ($radio-size-short * 1.25);
$radio-margin-right-tall: $size-s;

// super-radios/faux-radios
//http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
// 1) originally implemented per article above, with use of input + label selectors
// at the time of this writing IE11 is having a hard time applying of svg background-images 
// to the `radio + label` elements and psuedo-selectors, manifesting in sporadic drop-out in the order-tray. 
// To solve this, we are completely re-writing the markup, eschewing the form elments alltogether, 
// since it's a pure javascript component that doesn't need to submit anything
.input--faux-radio {
  position: relative;
  display: block;
  cursor: pointer;
  padding-top:2px;
  padding-bottom: 2px;
  padding-left: $radio-size-short + $radio-margin-right-short;
  padding-right: 5px;
  min-height: $radio-size-short;
  
  @include at-medium-tall {
    padding-top:5px;
    padding-bottom: 3px;
    padding-left: $radio-size-medium-tall + $radio-margin-right-short;
    min-height: $radio-size-medium-tall;
  }
  
  @include from-tall {
    padding-top:7px;
    padding-bottom: 4px;
    padding-left: $radio-size-tall + $radio-margin-right-tall;
    min-height: $radio-size-tall;
  }
}

.input--faux-radio .input__icon { // svg marked up as img element
  position: absolute;
  top: -2px;
  left:0;
  margin-right: $radio-margin-right-short;
  @include size($radio-size-short);
  
  @include at-medium-tall {
    top:-1px;
    @include size($radio-size-medium-tall);
    margin-right: $radio-margin-right-medium-tall;
  }
  
  @include from-tall {
    top:0;
    @include size($radio-size-tall);
    margin-right: $radio-margin-right-tall;
  }
}