.order-banner {
  margin-top: 0;
  margin-bottom: $size-xl;

  @include from-medium {
    margin-bottom: $size-xl * 3;
  }

  &__inner {
  	padding: ($size-l + $size-s) $size-l;
    background-color: $colors-red;
    text-align: center;

  	@include from-small {
  		padding: ($size-l + $size-s);
  	}

  	@include from-large {
  		@include display(flex);
      padding: $size-xl;
      text-align: left;
  	}
  }

	&__body {
    margin: 0 auto;

    @include from-large {
      width: 50%;
    }

    @include from-extra-large {
      width: 55%;
    }
	}

	&__headline {
		@include header--beta;
		@include upcase;
		margin-bottom: $size-l;

		@include at-small {
			br {
			  display: none;
			}
		}
	}

	&__copy {
		@include body-text;
		display: none;

		@include from-large {
      display: block;
			margin-bottom: $size-l;
		}
	}

	&__button {
    @include round-button;
		@include button--solid($colors-pure-white);

		@include until-small {
      width: 100%;
			max-width: 250px;
		}

		@include from-medium {
			margin-bottom: 0;
      max-width: ($size-xxl * 4);
		}
	}

  &__image {
		display: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

		@include from-large {
      display: block;
      width: 50%;
		}

    @include from-extra-large {
      width: 45%;
    }
	}
}
// 'censored'/dark version
// Used in affiliate B2B video player -
// the headline is replaced with a logo and color palette is muted
.order-banner--dark {
  background-color: $colors-bg-light;

  .order-banner__inner {
    background: none;
  }

  .order-banner__copy {
    display: none;
  }
}

.order-banner__headline--logo {
  @include hide-text;
  height:($size-m + $size-l);
  margin-bottom: $size-l;
  background: transparent no-repeat url('#{$icon-base-path}/showtime-logo.svg') center center;
}
