.order-home-container {
  position: relative;
}

// immitate the page styles defined in sho/stylesheets/base/_order,_global.scss
.asymmetrical-hero-container {
  background-color: $colors-pure-black;
  width: 100%;
  overflow: hidden;
  
  .section-header,
  .promo-group-header,
  .slider, {
    @include full-width-container__inner;
  }
  
  .hero__inner, 
  .promo-group-header,
  .slider,
  .order-legal  {
    @include from-order-tray-sidebar-visible {
      margin-left: 30vw;
      width:70vw;
      
      .order-tray--two-col & {
        margin-left: 33vw;
        width: 67vw;
      }
    }
  }
}