.secondary-nav--red-always {
	@extend .secondary-nav--red-from-medium;

	.secondary-nav__content {
		background: $colors-red;
		min-height: $size-xl;
		@include from-medium {
			position: relative;
		}
	}

	.secondary-nav__dropdown {
		height: $size-xl;
		width: 170px;
		color: $colors-pure-white;
		background-position: 95%;
		@include icon-image('down-arrow-white');
		@include from-medium {
			display: block;
			float: left;
			margin: 0;
			padding: $size-l 0;
			height: 60px;
		}
	}

	.secondary-nav__link {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		@include until-medium {
			padding: $size-s;
			height: $size-xl;
			width: auto;
		}
		&:after {
	    margin-top: -$size-xs;
		}
	}
}