.secondary-nav {
	@include full-width-container;

	&__content {
		@include full-width-container__inner;

		@include until-medium {
			background: rgba(0, 0, 0, .2);
		}
	}

	&__list {
		@include unstyled-ul;
		display: none;
		@include from-medium {
			padding: $size-l 0 ($size-m + 2);
      @include justify-content(space-between);
      @include flex-direction(row);
			@include display(flex);
		}
	}

	&__item {
		@include header--epsilon;
		@include header-regular-weight;
		margin-bottom: 0;
    text-transform: capitalize;
		color: $colors-pure-white;

		&--active {
			color: $colors-red;
			border-bottom: 3px solid $colors-red;
		}
	}
}
