.select-navigation {
	@include header--epsilon;
	@include upcase;
	padding: $size-s 0;
	width: 100%;
	color: $colors-red;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	background-repeat: no-repeat;
	background-position: 95%;
	@include icon;
	@include icon-image('down-arrow-red');
	@include from-medium {
		display: none;
	}
	background-size: initial;

	&::-ms-expand { /* for IE 11 */
		display: none;
	}

	option:nth-child(n+2){
		text-transform: capitalize;
	}
}
