.secondary-nav--red-from-medium {
	position: relative;
	@include from-medium {
		background: $colors-red;
	}

	.secondary-nav__content {
		ul {
			@include from-medium {
				width: 65%;
				float: left;
			}
			@include from-large {
				width: 50%;
			}
      @include at-small {
  			width: 55%;
			}
		}
	}

	.secondary-nav__item {
		color: $colors-dark-grey;

		&--active {
			color: $colors-pure-white;
			@include from-medium {
				border-bottom: 3px solid $colors-pure-white;
			}
		}
	}

	.secondary-nav__link {
		@include header--epsilon;
		@include upcase;
		@include header-regular-weight;
		display: none;
		padding: $size-l;
		float: right;
		width: 200px;
		color: $colors-pure-white;
		text-align: center;
		background: $colors-dark-red;
		@include from-medium {
			display: block;
		}
		@include from-large {
			width: 250px;
		}

		&:after {
			@include icon('next','small');
			margin-left: $size-s;
			content: '';
		}
	}
}
