.event-hero {
  @include full-width-container;
  position: relative;
  background-color: $colors-pure-black;
  background-repeat: no-repeat;
  background-size: contain;
  @include until-medium {
    background-image: none;
  }

  &__inner {		
    @include full-width-container__inner;
    position: relative;
    padding-bottom: $size-xl;
		
    // todo: cleanup/refactor event page to flatten dom
    // there are too many nested .section elements in the event page, and there are
    // multiple competing strategies for applying the container styles to the inner content.
    // for example, it shouldn't be neccessary to undo the minimal padding that the 
    // inner-container is intended to provide at mobile sizes in this fashion...
    // by pushing the responsibility for the container padding into the inner components,
    // we're just adding complexity and making it harder to determine where the padding is coming from
    @include until-medium {
      border: 0 !important;
    }
		
    @include from-medium {			
      padding-top: $size-l;
      padding-bottom: $size-xxl;
    }
		
    .countdown-widget {
      display: block;
      margin: 0 $size-m;
      padding: $size-l;
      @include from-medium {
        display: none;
      }
    }
  }

  &__image-container {
    position: relative;
		
    .countdown-widget {
      position: absolute;
      left: 0;
      bottom: 0;
      display: none;
      margin-bottom: 0;
      padding: $size-l 0;
			z-index: 1;
      @include from-medium {
        display: block;
      }
    }	
		
    @include from-medium {
      @include span-columns(6);
    }
		
    @include from-large {
      @include span-columns(5);
    }
		
    &:after {
      content: "";
      width: 100%;
      height: $size-xxl * 2;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0.8;
      @include linear-gradient(transparent, $colors-pure-black 100%, $fallback: transparent);
    }
  }
	
  &__image {
    width: 100%;
		
    @include from-medium {
      box-shadow: 2px 2px 14px rgba(0, 0, 0, .5);
    }
  }
	
  &__copy {
    @include until-medium {
      margin: $size-m $size-m 0 $size-m;
    }
		
    @include from-medium {
      @include span-columns(6);
      margin-right: 0 !important;
    }
		
    @include from-large {
      @include span-columns(7);
    }
  }

  &__logo {
    display: none; 
    @include from-medium {
      display: block;
      margin-bottom: $size-l;
    }
  }

  &__super-title {
    @include header--epsilon;
    @include upcase;	
    position: absolute;
    top: 0;
    left: 0;
    padding-top: $size-xs;
    padding-left: $size-s;
    width: 100%;
    z-index: 1;
    color: $colors-red;
    @include linear-gradient($colors-pure-black, transparent 100%, $fallback: transparent);
    @include from-medium {
      display: none;
    }
  }

  &__title {
    @include header--alpha;
    @include upcase;	
    margin-bottom: $size-xs;
    @include at-small {
      margin-bottom: $size-m;
    }
    @include from-medium {
      margin-bottom: $size-m;
    }
  }

  &__sub-title {
    @include header--delta;
    @include upcase;
    margin-bottom: $size-l;
  }

  &__detail {	
    margin: 0 $size-xl $size-l 0;
    @include from-medium {
      display: inline-block;
      margin-bottom: $size-l;
    }

    &-title, &-info {
      @include body-text;
    }

    &-title {
      @include upcase;
      color: $colors-mid-grey;
    }
  }

  &__description {
    @include body-text;
    margin-bottom: $size-l;
  }

  &__logo,
  &__sub-title,
  &__detail,
  &__description {
    @include at-small {
      margin-bottom: $size-m + $size-s;
    }
  }
}

