.schedule-drawer__inner,
.schedule-drawer__footer__inner {
  @include full-width-container__inner;
}

.schedule-drawer {
  display: none;

  @include from-large {
    display: block;
  }
}

.schedule-drawer__inner {
  margin-top: $size-l + $size-s;
}

.schedule-drawer {
  @include header--delta;
  @include upcase;
  background-color: $colors-bg-med;
  box-shadow: 0 $size-l $size-xl $colors-pure-black;

  .schedule-drawer__icon-close {
	  @include icon('close','medium');
      float: right;
      cursor: pointer;
  }

  .showtime-logo {
    @include hide-text;
    background-image: url("#{$icon-base-path}/showtime-logo.svg");
    height: $size-xl;
    width: $size-xxl + $size-l;
    margin-left: 8px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .schedule-drawer--header {
    display: inline-flex;
    line-height: $size-xl;
  }

  .schedule-drawer__list {
    @include unstyled-ul;
    overflow: hidden;

    .schedule-drawer__list-item {
        padding-top: 30px;
        @include span-columns(4);
        @include omega(3n);

      .schedule-drawer__program-img {
        float: left;
        margin: 0 5% $size-s 0;
        width: 50%;
        max-width: 135px;
        box-shadow: 6px 2px 11px -5px rgba(0,0,0,1);
      }

      .schedule-drawer__program-time,
      .schedule-drawer__program-episode-number {
        @include header--zeta;
      }
      
      .schedule-drawer__program-title {
        @include header--epsilon;
      }
      
      .schedule-drawer__program-time,
      .schedule-drawer__program-title,
      .schedule-drawer__program-episode-number {
        padding-bottom: $size-s;
        text-align: left;
      }

      
      .schedule-drawer__program-title, .schedule-drawer__program-episode-number {
        display: block;
      }

      .schedule-drawer__program-time {
        color: $colors-light-grey;
      }


      .schedule-drawer__program-episode-number {
        color: $colors-mid-grey;
      }
    }
  }
}

.schedule-drawer__link--view-more {
  @include header--epsilon;
  @include upcase;
  display: inline-block;
  padding: $size-l 0;
  color: $colors-pure-white;
}

.schedule-drawer__footer {
  background-color: $colors-bg-light;
}

