.global-navigation__menu-toggle {
	float: left;	
}
				
.global-navigation__menu-icon {
	float: left;
	position: relative;
	top: -$size-xxs;
	width: $size-l;
	height: $logo-height;
	margin-right: $size-l;
	@include transform(rotate(0deg));
	@include transition(.25s ease-in-out);
	cursor: pointer;
	z-index: 102;
	
	@include from-large {
		margin-left: $size-l;
	}
	
	span {
		position: absolute;
		height: 2px;
		width: 100%;
		background: $colors-pure-white;
		opacity: 1;
		@include transform(rotate(0deg));
		@include transition(.25s ease-in-out);
	}
	
	span:nth-child(1) {
		top: 4px;
		left: 0;
	}
	
	span:nth-child(2), 
	span:nth-child(3) {
		top: 12px;
		left: 0;
	}
	
	span:nth-child(4) {
		top: 20px;
		left: 0;
	}	
	
	@include from-small {
		height: $logo-height-small;
		
		span:nth-child(1) {
			top: 9px;
		}
	
		span:nth-child(2), 
		span:nth-child(3) {
			top: 17px;
		}
	
		span:nth-child(4) {
			top: 25px;
		}
	}
}

.global-navigation__breadcrumb {
	@include header--epsilon;
	@include upcase;
	line-height: 14px !important;
	float: left;
	margin: ($size-xs + $size-xxs) 0 0;
	padding: 0;
	list-style: none;
	display: none;
	
	@include from-large {
		display: block;
	}
		
	.global-navigation__breadcrumb-item {
		float: left;
		margin-top: $size-xxs * 2;
		padding-top: $size-xxs * 4;
	}
	
	.global-navigation__breadcrumb-item:first-child {
		padding-left: $size-l;
		border-left: 1px solid $colors-mid-grey;
	}

	.global-navigation__breadcrumb-item:nth-child(2){
		margin-left: $size-l;
		padding-left: $size-l;
		border-left: 1px solid $colors-mid-grey;
	}
}