@mixin button {
  @include transition(background-color $transition-duration unquote($transition-easing),
                      color $transition-duration unquote($transition-easing));
  @include header--epsilon;
  @include smallcaps;
  text-align: center;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  outline: 0;
  transition: all .2s ease-out;

  @include hover {
    transform: scale(.97);
  }
}

@mixin round-button {
  @include button;
  display: inline-block;
  border: ($size-xxs * 2) solid;
  border-radius: $size-l;
  padding: $size-s;
  padding-top: ($size-s + $size-xxs); // fixing vertical misalignment due to line height

  @include from-small {
    padding: ($size-s + $size-xxs) ($size-l + $size-s) $size-s;
  }
}

@mixin button--solid($color) {
  background-color: $color;
  border-color: $color;
  @if $color == $colors-pure-white {
    color: $colors-pure-black;    
  } @else {
    color: $colors-pure-white;
  }
}

@mixin button--outline($color) {
  border-color: $color;
  color: $color;

  @include hover {
    background-color: $color;
    @if $color == $colors-pure-white {
      color: $colors-pure-black;
    } @else {
      color: $colors-pure-white;
    }
  }
}

@mixin button--large {
  margin: $size-l 0;
  height: 50px;
  width: 100%;
  border-radius: $size-xl;

  @include from-medium {
    margin: $size-xl 0;
    height: $size-xxl;
    width: 462px;
    font-size: 24px;
    font-weight: 400;
  }
}

@mixin button--skinny($color: $colors-red) {
  @include button;
  display: inline-block;
  background-color: $color;
  border: ($size-xxs * 2) solid $color;
  border-radius: $size-l;
  padding: 7px 10px 5px 10px;
}

.button--solid-red {
  @include round-button;
  @include button--solid($colors-red);
}

.button--solid-white {
  @include round-button;
  @include button--solid($colors-pure-white);
}

.button--solid-dark-blue {
  @include round-button;
  @include button--solid($colors-dark-blue);
  @include appearance(none);
}

.button--outline-red {
  @include round-button;
  @include button--outline($colors-red);
}

.button--outline-black {
  @include round-button;
  @include button--outline($colors-pure-black);
}

.button--outline-mid-grey {
  @include round-button;
  @include button--outline($colors-mid-grey);
}

.button--outline-light-grey {
  @include round-button;
  @include button--outline($colors-text-med);
}

.button--outline-white {
  @include round-button;
  @include button--outline($colors-pure-white);
}

.button--stream {
  @include round-button;
	@include button--solid($colors-red);
	width: 100%;
	border-radius: 50px;
  padding: 7px 7px 6px;

  @include from-small {
    /* override round-button media query */
    padding: 7px 7px 6px;
  }
  
	&__icon {
		float: left;
    margin-top: -2px;
    height: 33px;
    width: 33px;
    background: url("#{$icon-base-path}/sho-bug.svg") no-repeat;
	}

	&__label {
		@include header--epsilon;
		@include upcase;
	}

  &__label {
    line-height: 33px;
  }
}

.button--fixed-width {
	max-width:($size-xxl * 4);
}

.button--small {
  @include header--zeta;
  border: $size-xxs solid;
  padding: 11px $size-l $size-s;
}

.button--large {
  @include button--large;
}

.button--skinny {
  @include button--skinny;
}