.foooter {
  .store-banner__headline {
    color: $colors-pure-black;
    margin-bottom: 20px;
    padding: 0 3%;
    width:100%;
    @include until-large {
      padding: 0 30px;
    }
    @include until-medium {
      padding: 0 15px;
    }
  }
  .ffe-promo__headline {
    margin-bottom: 20px;
  }
  .store-banner__background {
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://downloads.sho.com/misc/FFE_Background.jpg');
    @media only screen and (max-width: 991px){
      height: 50%;
      width: 100%;
      bottom: 0;
      top: auto;
    }
  }
  .store-banner__img {
    max-width:100%;
    margin: 0;
    padding-top: 15px;
    @include at-medium {
      height: 50%;
    }
  }

  .store-banner__button {
    width: 300px;
    @include until-medium {
      width: 100%;
      max-width: 250px;
    }
  }
  .store-banner__button a{
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    @include until-medium {
      max-width: 250px;
    }
  }
  .order-promo__headline-button-wrapper .store-banner__button a{
    width: 300px;
    @include until-medium {
      width: 250px;
    }
  }
}

.foooter__store-banner .foooter__sub-section:first-child {
  justify-content: space-between;
}

.foooter__headline-button-wrapper {
  padding: 50px 0 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}