.footer-schedule {
	position: relative;

	@include from-medium {
		@include span-columns(7);
	}

	&__header {
		@include upcase;
		@include header--delta;
		margin: 0 0 $size-m 0;
		color: $colors-dark-red;

		@include from-medium {
			margin: 0 0 $size-l 0;
			@include span-columns(4 of 7);
			@include shift(3);
			white-space: nowrap;
			padding-left: 3.47826%;
		}
	}

	&__header:before {
		display: block;
		margin: $size-s 0 $size-xl 0;
		border-top: $size-xxs * 2 solid $colors-dark-red;
		opacity: .6;
		content: "";

		@include from-medium {
			position: absolute;
			top: 35px;
			bottom: -$size-m;
			left: 31%;
		}
	}

	&__list {
		@include unstyled-ul;
		@include span-columns(7 of 7);

		&-item {
			margin-bottom: $size-m;

			@include from-medium {
				@include outer-container;
				margin-bottom: 0;
			}

			.footer-schedule__program-time {
				@include from-medium {
					@include span-columns(3 of 7);
          text-align: right;
          white-space: nowrap;
				}

				h4, h5 {
					@include upcase;
					display: inline-block;
		      color: $colors-dark-red;
				}

				h4 {
					@include header--delta;
				}

				h5 {
					@include header--epsilon;
				}
			}

			.footer-schedule__meta {
				width: 60%;

				@include from-medium {
					@include span-columns(4 of 7);
					padding-bottom: $size-m;
					padding-left: 3.47826%;
					border-left: $size-xxs * 2 solid $colors-dark-red;
				}

			}

			.footer-schedule__program-title {
				@include upcase;
				@include header--delta;
				color: $colors-pure-white;
			}

			.footer-schedule__program-title--subtitle {
        @include from-medium {
        	@include header--epsilon;
        	display: table;
        }
			}
		}

		&-item:last-child {
			.footer-schedule__program-time {
				display: none;

				@include from-medium {
					display: block;
				}
			}
		}
	}

	&__cta {
		@include upcase;
		@include header--delta;
		margin-bottom: $size-l;
		color: $colors-dark-red;

		@include from-medium {
			@include font(16, 20);
			float:left;
			padding-left: 3.47826%;
			border-left: $size-xxs * 2 solid $colors-dark-red;
		}
	}

	&__cta:after {
		@include icon('next-dark-grey','small');
		margin-left: $size-xs;
		content: "";
		opacity: .4;
	}
}
//this style works
