.footer {

	&-nav {

		@include span-columns(12);
		
		@include from-medium {
			@include span-columns(5);
			@include shift(7);
		}

		li {
			@include header--epsilon;
			margin-bottom: $size-l;
			color: $colors-pure-white;

			@include from-medium {
				@include display(inline-flex);
				margin-left: $size-s;
			}
		}

		&__links--sho,
		&__links--social {
			@include unstyled-ul;

			@include from-medium {
				margin-left: 0;
				text-align: right;
			}
		}

		&__links--sho {
			margin: 0;

			@include from-medium {
				margin: 0;
			}

			li {
				@include from-medium {
					@include omega(6n);
				}
			}
		}

		&__links--social {
		  width: 100%;
			margin-bottom: $size-xl;
			@include clearfix; 

			li {
				display: inline-block;
				margin: $size-m $size-l $size-l 0;
			
				@include from-medium {
					margin: 0 0 0 $size-l;
				}
        
        a {
          @include hide-text;
        }
			}
		}
	}

	&__disclaimer {
		@include from-medium {
			@include span-columns(7);
			@include shift(-12);
		}

		& p {
			@include header--zeta;
			color: $colors-pure-white;
		}
    
    a {
      @include underline;
    }
	}
}