// Styles for Video Player

.video-player {
  @include full-width-container__inner;
  position: relative;
  padding: $size-m 0;

  &__video {
    position: relative;
    display: block;
    max-width: 100%;
    margin: auto;
    @include at-short {
      @include from-extra-large  {
        width: 75%;
      }
    }

    &__inner {
      @include proportions--landscape;
      display: block;
      height: 0;
    }
  }

  &__card {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2; /* keep card above play progress */

    &-inner {
      position: absolute;
      padding: $size-l;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0,.75);
      text-align: center;
      @include flex-vertical-center;
    }
  }


  &__order {

    &-message {
      @include header--beta;
      @include upcase;
      margin-bottom: $size-l;
      @include until-medium {
        display: none;
      }
    }
  }

  &__next {
    position: absolute;
    bottom: $size-s;
    right: $size-xl;
    text-align: right;
    @include until-medium {
      display: none;
    }

    &-thumb {
      width: 240px;
      height: 120px;
      margin-bottom: $size-s;
      background-repeat: no-repeat;
      background-size: contain;
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(flex-end);
      @include at-medium {
        width: 200px;
        height: 100px;
      }
    }

    &-title {
      @include header--zeta;
      @include upcase;
      @include display(inline-flex);
      @include align-items(center);
      @include linear-gradient(transparent, $colors-pure-black 100%, $fallback: transparent);
      padding-bottom: $size-s;
      text-align: left;

      &:before {
       @include icon('play', 'medium');
       margin: 0 $size-s;
       content: '';
       padding: 12px;
     }
   }

   &-stop {
    visibility: hidden;
    @include header--zeta;
    @include upcase;
    color: $colors-text-dark;
    text-align: right;
    cursor: pointer;
    @include until-medium {
      display: none;
    }
  }
}

&__countdown-widget .countdown-widget {
  &__title,
  &__time {
    display: inline-block;
    @include header--epsilon;
    @include upcase;
  }
  &__time-units {
    text-align: left;
    margin-left: $size-xs;
    margin-right: 0;
  }
  &__time-unit {
    display: none;
  }
}

&__button {
  &--resume,
  &--replay {
    @include header--epsilon;
    @include upcase;
    position: absolute;
    bottom: $size-l + $size-s;
    left: $size-l + $size-s;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // prevents blue highlight on touch for Chrome on Android
      @include prefixer(user-select, none, webkit moz ms o);
      @include until-medium {
        position: initial;
      }
    }

    &--resume:before {
      @include icon('play', 'medium');
      position: relative;
      top: $size-xs;
      margin-right: $size-s;
      content: '';
    }

    &--replay:before {
      @include icon('replay', 'medium');
      position: relative;
      top: $size-xs;
      margin-right: $size-s;
      content: '';
    }
  }

  &__order-button {
    max-width: 240px;
    margin: 0 auto;

    &--desktop {
      display: none;
      @include from-medium {
        display: inline-block;
      }
    }

    &--mobile {
      display: inline-block;
      margin-bottom: $size-l;
      @include from-medium {
        display: none
      }
    }
  }

  &__order-overlay-container {
    display: flex;
  }

  &__order-overlay {
    position: relative;
    top: -67px;
    left: 15px;
    opacity: 0.5;

    .order-overlay--text {
      @include upcase;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      float: left;
    }

    .order-overlay__logo {
      background: url(/www/sho/lib/assets/svg/showtime-logo.svg);
      background-repeat: no-repeat;
      height: 34px;
      width: 75px;
      float: left;
      position: relative;
      top: -6px;
      left: 5px;
    }

    .order-overlay__button {
      @include upcase;
      @include button--skinny;
      display:none;
      position: relative;
      top: -5px;
      left: 15px;
    }

    &:hover {
      opacity: 1;

      .order-overlay__button {
        display: inline;
      }
    }
  }
}

.vjs-captions-button .vjs-menu-item {
  cursor: pointer;
}

#video-player .vjs-big-play-button {
  width: $size-xl * 3;
  height: $size-xl * 3;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: $size-xxl * 2;

  span:before {
    width: $size-m * 2;
    height: $size-xl;
    margin: $size-xl;
    font-size: $size-xl;
    line-height: $size-xl;
  }
}

.vjs-menu-button .vjs-texttrack-settings {
  border-color: $colors-red !important;
}

.vjs-menu-item:focus {
  text-shadow: none !important;
}

/* higher z-index prevents play progress from being effected by holder alpha */
.vjs-progress-holder:before {
  z-index: 0;
}

.vjs-play-progress {
  position: relative;
  z-index: 1;
  .vjs-ad-playing & {
    background-color: $colors-red !important;
  }
}

// --gated email signup
.video-player--email-gated {
  .video-player__email-signup {
    z-index: 2;
    background: rgba(0, 0, 0, 0.75);

    @include flex-vertical-center;

    @include until-medium {
      position: relative;
      margin-top: -$size-m;
      min-height: 56vw;
    }

    @include from-medium {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .email-signup {
      &__inner {
        background: none;
        display: block;
      }

      i {
        display: none;
      }

      &__headline--text {
        @include until-medium {
          text-align: center;
        }
      }

      &__overlay,
      &__headline--success,
      &__headline--lockout,
      &__headline--error {
        margin-bottom: 0;
        background: transparent;
        text-align: center;
      }
    }
  }
  .js-react-email-signup + .video-player__video {
    @include until-medium {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

.vjs-waiting .vjs-loading-spinner {
  /* animation: 0s linear .3s forwards vjs-spinner-show; */
  display: none;
}

.video-js {
  .vjs-control:focus,
  .vjs-subs-caps-button:focus {
     outline: none;
   }

   @include from-large {
     .vjs-current-time,
     .vjs-time-divider,
     .vjs-duration {
       display: block;
     }

     .vjs-remaining-time {
       display: none;
     }
   }
}

.vjs-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	text-align: center;
}

.video-js .vjs-control {
  @media only screen and (max-width:430px){
    width: 2.7em;
  }
}

.video-playr__video__embed {
  .vjs {
    &-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button.vjs-hidden {
      display: block !important;
    }

    // --- change colors --- //
    &-play-progress{
      background-color: $colors-red;
    }
    &-volume-level {
      background-color: $colors-red;
    }
    &-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
      background-color: $colors-red;
    }

  // --- keep icons from spilling out of view at small browser widths --- //
    @media only screen and (max-width: 430px) {
      &-remaining-time {
        width: 2.7em;
      }
      &-mute-control {
        padding-left: 0;
        padding-right: 0;
      }
      &-time-control {
        padding-left: 0;
        padding-right: 0;
      }
      &-progress-control {
        width: 3.7em;
        min-width: 3.7em;
      }
      &-menu-button-popup .vjs-menu {
        left:-6em;
      }
    }
    @media only screen and (max-width: 315px) {
      &-remaining-time {
        display: none;
      }
    }
    @media only screen and (max-width: 270px) {
      &-progress-control {
        display: none;
      }
    }
  }
}

